body #login[_ngcontent-c10] {
	background: #f8fafc;
}

body #login[_ngcontent-c10] header.md-accent.md-hue-2[_ngcontent-c10] {
	background-color: #0a0d10;
	color: rgba(255, 255, 255, .87);
	text-align: center;
	font-weight: 500;
	border-radius: 4px;
}

.mat-raised-button.mat-primary {
	background-color: #d13334 !important;
}

.mat-raised-button {
	line-height: 40px !important;
}

.mat-error,
.mat-form-field-invalid .mat-form-field-label,
.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,
.mat-form-field-invalid .mat-form-field-label.mat-accent {
	color: #d13334 !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
	background-color: #adb5bb !important;
}

.mat-form-field-ripple {
	background-color: #4b575d !important;
}

.mat-toolbar.mat-primary,
body header[_ngcontent-c0] {
	background: #0a0d10 !important;
}

#sidenav_left[_ngcontent-c0] section[_ngcontent-c0] ul[_ngcontent-c0] li[_ngcontent-c0] a.mat-button.--active[_ngcontent-c0],
#sidenav_left[_ngcontent-c0] section[_ngcontent-c0] ul[_ngcontent-c0] li[_ngcontent-c0] a.mat-button.--active[_ngcontent-c0]:hover {
	border-left-color: #d13334 !important;
}

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
	color: #d13334 !important;
}

#sidenav_left[_ngcontent-c0] section[_ngcontent-c0] {
	background: #f8fafc !important;
}


#sidenav_left[_ngcontent-c0] section[_ngcontent-c0] ul[_ngcontent-c0] li[_ngcontent-c0] a.mat-button[_ngcontent-c0],
.breadcrumb[_ngcontent-c8] li[_ngcontent-c8] a[_ngcontent-c8] {
	font-family: "Inter", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.mat-cell,
.mat-header-cell {
	font-family: "Inter", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	font-weight: 500;
}

.mat-form-field-prefix,
.mat-form-field-suffix {
	display: none !important;
}

#login[_ngcontent-c10] #form_container[_ngcontent-c10] {
	background: #FFF !important;
}
